$desktop-one: 680px;
$desktop-two: 1400px;

.about-main {
  width: 100%;
  height: 100vw;
  background-image: url("../images/about/about-main-mobile.png");
  background-size: 100%, 100%, cover;
  background-repeat: no-repeat;
  z-index: 1;
  color: white;

  &__content {
    padding: 0;
    margin: 0;
    padding-top: 4.6rem;

    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  &__text {
    font-family: "GothamPro-Bold";
    margin: 0;
    margin-left: 3.7rem;
    font-size: 3.18rem;
    line-height: 3.5rem;
  }

  &__description {
    font-family: "GothamPro";
    margin-top: 2.57rem;
    font-size: 1.35rem;
    line-height: 1.78rem;
    margin-left: 3.9rem;
    letter-spacing: -.02rem;
  }

  &__lays-image {
    display: none;
  }

  @media (min-width: $desktop-one) {
    flex-basis: 50%;
    background-image: url("../images/about/about-main-desktop-1400.png");
    height: auto;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 1.2rem;
      height: 2.6rem;
      background-image: url("../images/about/about-main-arrow-desktop-1400.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 27.5%;
      left: 99%;
    };

    &__content {
      padding: 0;
    }

    &__text {
      font-size: 1.3rem;
      line-height: 1.4rem;
      margin-top: 3.8rem;
      margin-left: 7.1rem;
    }

    &__lays-image {
      display: block;
      width: 5.9rem;
      height: 6.6rem;
      position: absolute;
      top: 2.2rem;
      left: 1rem;
    }

    &__description {
      width: 12rem;
      margin-top: 1.61rem;
      font-size: 0.4rem;
      line-height: 0.65rem;
      margin-left: 1.95rem;
      letter-spacing: 0.02rem;
    }

    &__description br {
      display: none;
    }
  }
}
