$desktop-one: 680px;
$desktop-two: 1400px;

.gallery-main {
  display: flex;
  height: 100vw;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  &__socials-image {
    width: 14.8rem;
    padding-left: 2.1rem;
    padding-top: 3.1rem;
  }

  &__text {
    padding-top: 0.8rem;
  }

  &__ordinary-text {
    font-family: "GothamPro-Bold";
    font-size: 2.25rem;
    line-height: 3.112rem;
    font-weight: 400;
    margin: 0;
    margin-left: 4.2rem;
  }

  &__hashtag-text {
    display: inline-block;
    background-color: white;
    font-size: 2.3rem;
    margin: 0;
    margin-top: -.21rem;
    margin-left: 3.6rem;
    padding: 0.2rem 0.7rem 0 0.5rem;
    line-height: 2.9rem;
    color: #d62b2b;
    font-family: GothamPro;
  }

  @media (min-width: $desktop-one) {
    flex-basis: 50%;
    height: calc((637/625) * (100vw - 150px) / 2);
    position: relative;

    &__wrapper {
      width: 100%;
    }

    &__socials-image {
      width: 4rem;
      padding: 0;
      margin-top: 0.75rem;
      margin-left: -5.15rem;
    }

    &__text {
      width: 100%;
      padding-top: 0;
      margin-top: -0.1rem;
    }

    &__ordinary-text {
      font-size: 1rem;
      line-height: 1.29rem;
      letter-spacing: -0.03rem;

      margin: 0;
      margin-left: 2.1rem
    }

    &__hashtag-text {
      font-size: 1rem;
      margin: 0;
      margin-left: 1.95rem;
      margin-top: -0.05rem;
      line-height: 0.9rem;
      letter-spacing: -0.03rem;
      padding-top: 0.25rem;
      padding-bottom: 0.15rem;
      padding-left: 0.15rem;
      padding-right: 0.4rem;
    }
  }
}
