.gallery-main {
  display: flex;
  height: 100vw;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  &__socials-image {
    width: 14.8rem;
    padding-left: 2.1rem;
    padding-top: 3.1rem;
  }

  &__text {
    padding-top: 1rem;
  }

  &__ordinary-text {
    font-family: "GothamPro-Bold";
    font-size: 2.25rem;
    line-height: 3.112rem;
    font-weight: 400;
    margin: 0;
    margin-left: 4.2rem;
  }

  &__hashtag-text {
    display: inline-block;
    background-color: white;
    font-size: 2.3rem;
    margin: 0;
    margin-top: -.21rem;
    margin-left: 3.6rem;
    padding: 0.2rem 0.7rem 0 0.5rem;
    line-height: 2.9rem;
    color: #d62b2b;
    font-family: GothamPro;
  }
}
