$desktop-one: 680px;
$desktop-two: 1400px;

.goto-main {
  width: 100%;
  height: 100vw;
  background-image: url("../images/goto/goto-main-mobile.png");
  background-size: 100%, 100%, cover;
  background-repeat: no-repeat;
  z-index: 1;
  margin-top: -0.2%;
  margin-bottom: -1.5%;

  &__content {
    padding: 0;
    margin: 0;
    padding-top: 54vw;
    text-align: center;
    position: relative;
  }

  &__text {
    font-family: "GothamPro-Bold";
    font-size: 3.25rem;
    line-height: 3.5rem;
    letter-spacing: 0.04rem;
    padding-left: 0.5rem;
  }

  @media (min-width: $desktop-one) {
    width: 50%;
    height: calc((650/625) * (100vw - 150px) / 2);
    background-image: url("../images/goto/goto-main-desktop-1400.jpg");
    background-position: top;
    position: relative;
    margin: 0;

    transform: translate(175px,0);
    opacity: 0;
    transition: opacity 1.2s ease,
              transform 1s ease;

    &--animated {
      opacity: 1;
      transform: translate(0,0);
    }

    &__content {
      padding: 0;
      margin: 0;
    }

    &__text {
      padding: 0;
      margin: 0;
      margin-top: 9.45rem;
      font-size: 1.46rem;
      line-height: 3.5rem;
      letter-spacing: 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 1.33rem;
      height: 2.9rem;
      background-image: url("../images/goto/goto-desktop-arror.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 45%;
      right: 99%;
    };
  }
}
