html {
    font-size: 9px;
}

@media (min-width:390px) {
  html {
    font-size: 10px;
  }
}

@media (min-width:422px) {
  html {
    font-size: 10px;
  }
}

@media (min-width:454px) {
  html {
    font-size: 11px;
  }
}

@media (min-width:486px) {
  html {
    font-size: 12px;
  }
}

@media (min-width:518px) {
  html {
    font-size: 13px;
  }
}

@media (min-width:550px) {
  html {
    font-size: 14px;
  }
}


@media (min-width:582px) {
  html {
    font-size: 15px;
  }
}

@media (min-width:614px) {
  html {
    font-size: 16px;
  }
}

@media (min-width:646px) {
  html {
    font-size: 17px;
  }
}

@media (min-width:678px) {
  html {
    font-size: 18px;
  }
}

@media (min-width:710px) {
  html {
    font-size: 19px;
  }
}

@media (min-width:742px) {
  html {
    font-size: 20px;
  }
}

@media (min-width:774px) {
  html {
    font-size: 21px;
  }
}

@media (min-width:806px) {
  html {
    font-size: 22px;
  }
}

@media (min-width:838px) {
  html {
    font-size: 23px;
  }
}

@media (min-width:870px) {
  html {
    font-size: 24px;
  }
}

@media (min-width:902px) {
  html {
    font-size: 25px;
  }
}

@media (min-width:934px) {
  html {
    font-size: 26px;
  }
}

@media (min-width:966px) {
  html {
    font-size: 27px;
  }
}

@media (min-width:998px) {
  html {
    font-size: 28px;
  }
}

@media (min-width:1030px) {
  html {
    font-size: 29px;
  }
}

@media (min-width:1053px) {
  html {
    font-size: 30px;
  }
}

@media (min-width:1085px) {
  html {
    font-size: 31px;
  }
}

@media (min-width:1117px) {
  html {
    font-size: 32px;
  }
}


@media (min-width:1149px) {
  html {
    font-size: 33px;
  }
}

@media (min-width:1181px) {
  html {
    font-size: 34px;
  }
}

@media (min-width:1213px) {
  html {
    font-size: 35px;
  }
}

@media (min-width:1245px) {
  html {
    font-size: 36px;
  }
}

@media (min-width:1276px) {
  html {
    font-size: 37px;
  }
}

@media (min-width:1307px) {
  html {
    font-size: 38px;
  }
}

@media (min-width:1338px) {
  html {
    font-size: 39px;
  }
}

@media (min-width:1369px) {
  html {
    font-size: 40px;
  }
}

@media (min-width:1400px) {
  html {
    font-size: 41px;
  }
}

@media (min-width:1432px) {
  html {
    font-size: 42px;
  }
}

@media (min-width:1464px) {
  html {
    font-size: 43px;
  }
}

@media (min-width:1496px) {
  html {
    font-size: 44px;
  }
}

@media (min-width:1528px) {
  html {
    font-size: 45px;
  }
}

@media (min-width:1560px) {
  html {
    font-size: 46px;
  }
}

@media (min-width:1592px) {
  html {
    font-size: 47px;
  }
}

@media (min-width:1624px) {
  html {
    font-size: 48px;
  }
}

@media (min-width:1656px) {
  html {
    font-size: 49px;
  }
}

@media (min-width:1688px) {
  html {
    font-size: 50px;
  }
}

@media (min-width:1720px) {
  html {
    font-size: 51px;
  }
}

@media (min-width:1752px) {
  html {
    font-size: 52px;
  }
}

@media (min-width:1784px) {
  html {
    font-size: 53px;
  }
}

@media (min-width:1816px) {
  html {
    font-size: 54px;
  }
}

@media (min-width:1848px) {
  html {
    font-size: 55px;
  }
}
