$desktop-one: 680px;
$desktop-two: 1400px;

.page-header {
  padding: 0;
  margin: 0 auto;

  width: 100%;

  min-height: 80px;

  background-color: rgba(246, 246, 246, 1);

  position: fixed;
  top: 0;
  z-index: 100;

  transition: top 0.5s ease;

  &--hidden {
    top: -80px;
  }

  &__wrapper {
    min-height: 80px;

    box-sizing: border-box;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__logo {
    min-width: 75px;
    min-height: 80px;
    position: relative;
  }

  &__logo-image {
    width: 57px;
    height: 50px;

    position: absolute;
    top: 15px;
    left: 18px;
  }

  &__logo-hashtag {
    padding: 0;
    margin: 0;
    padding-left: 16px;

    display: flex;

    min-width: 50px;
    min-height: 80px;
  }

  &__hashtag-text {
    font-family: GothamPro-Medium;
    font-size: 20px;

    color: #fc202e;

    letter-spacing: -0.1px;

    margin: auto;
  }

  &__nav {
    position: absolute;

    top: 80px;
    z-index: 1;
  }

  @media (min-width: $desktop-one) {
    .fixed-wrapper {
      position: fixed;
      width: 150px;
    }
    position: static;
    width: 150px;

    &__wrapper {
      min-height: 204px;
      margin-bottom: -2px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__logo {
      margin-bottom: 6px;
    }

    &__logo-image {
      width: 100%;
      height: 100%;
      margin-top: 26px;

      position: static;
    }

    &__logo-hashtag {
      padding: 0;
      margin: 0;
      margin-left: -2px;
      margin-bottom: auto;

      min-width: auto;
      min-height: auto;
    }

    &__hashtag-text {
      font-size: 16px;
      margin: 0;
    }

    &__nav {
      position: static;
    }
  }
}
