.page-header {
  padding: 0;
  margin: 0 auto;

  width: 100%;

  min-height: 80px;

  background-color: rgba(246, 246, 246, 1);

  &--fixed {
    position: fixed;
  }
}

.page-header_wrapper {
  min-height: 80px;

  box-sizing: border-box;
  
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  min-width: 75px;
  position: relative;
}

.page-header__logo-image {
  width: 57px;
  height: 50px;

  position: absolute;
  top: 15px;
  left: 18px;
}

.page-header__logo-hashtag {
  padding: 0;
  margin: 0;
  margin-right: -16px;

  flex-grow: 1;

  display: flex;

  min-width: 50px;
  min-height: 80px;
}

.page-header__hashtag-text {
  font-family: GothamPro-Medium;
  font-size: 20px;

  color: #fc202e;

  letter-spacing: -0.1px;

  margin: auto;
}

.page-header__nav {
  position: absolute;

  top: 80px;
  z-index: 1;
}
