$desktop-one: 680px;
$desktop-two: 1400px;

.page-footer {
  width: 100%;
  height: 42px;
  background-color: #3c3c3c;
  font-family: Arial,Helvetica,sans-serif;
  color: #b4b4b4;

  display: flex;

  &__copyright {
    display: flex;
  }

  &__logo-image,
  &__main-copyright-with-point,
  &__additional-copyright-text {
    display: none;
  }

  &__main-copyright-without-point {
    margin: auto;
    padding-left: 29px;
    font-size: 9px;
    letter-spacing: -.3px;
  }

  &__socials {
    display: flex;
    margin-left: auto;
  }

  @media (min-width: $desktop-one) {
    margin-top: -0.35rem;
    height: 90px;

    align-items: center;

    font-size: 12px;

    &__logo-image {
      display: block;
      margin-left: 21px;
    }

    &__main-copyright-without-point {
      display: none;
    }

    &__main-copyright-with-point {
      display: block;

      margin-left: 5px;
      padding-top: 6px;
    }

    &__additional-copyright-text {
      display: block;

      margin-left: 4px;
      padding-top: 6px;
      letter-spacing: -0.1px;
    }
  }
}