.page {
  margin: 0;
  padding: 0;
  background: #f6f6f6 url("../tmp/lays-640.jpg") no-repeat 50% 0;
  background-size: 680px;
  background-position: top -144px left 50%;
  min-height: 5513px;
  min-width: 500px;
}
