.page-main__promo {
  margin: 0;
  padding: 0;
  padding-top: 80px;

  width: 100%;
  min-height: calc(558/320*100vw);

  background-image: url("../images/promo/promo-mobile.jpg");
  background-position: bottom;
  background-size: 100%, 100%, cover;
  background-repeat: no-repeat;
  background-color: #57b8e2;

  transition: opacity .6s ease;

  opacity: 0;

  &--animated {
    opacity: 1;
  }
}

.page-main__content {
  display: flex;
  flex-direction: column-reverse;
}

.page-main__promo-text {
  margin: 0 auto;
  font-family: "GothamPro-Medium";
  font-size: 44px;
  font-weight: 400;

  text-transform: uppercase;

  color: #d62b2b;

  display: flex;
  flex-direction: column;
}
