$desktop-one: 680px;
$desktop-two: 1400px;

@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothaProReg.woff") format("woff");
}

@font-face {
    font-family: "GothamPro-Medium";
    src: url("../fonts/GothaProMed.woff") format("woff");
}

@font-face {
    font-family: "GothamPro-Light";
    src: url("../fonts/GothaProLig.woff") format("woff");
}

@font-face {
    font-family: "GothamPro-Black";
    src: url("../fonts/GothaProBla.woff") format("woff");
}

@font-face {
    font-family: "GothamPro-Bold";
    src: url("../fonts/GothaProBol.woff") format("woff");
}

.page {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;

  @media (min-width: $desktop-one) {
    display: flex;
  }

  @media (min-width: $desktop-two) {
    // display: flex;
  }

  // &__desktop-content-and-footer-wrapper {

  // }
}
