$desktop-one: 680px;
$desktop-two: 1400px;

.page-main {
  z-index: 10;

  &__promo {
    margin: 0;
    padding-top: 80px;
    background-color: #57b8e3;
    z-index: 11;

    width: 100%;
    height: calc(553/320*100vw);

    background-image: url("../images/promo/promo-mobile.jpg");
    background-position: 0 80px;
    background-size: 100%, 100%, cover;
    background-repeat: no-repeat;

    opacity: 0;

    &--animated {
      opacity: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;
  }

  &__promo-text {
    margin: 0 auto;
    font-family: "GothamPro-Medium";
    font-size: 44px;
    font-weight: 400;

    text-transform: uppercase;

    color: #d62b2b;

    display: flex;
    flex-direction: column;
  }

  &__gallery {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
  }

  &__gallery-main-wrapper {
    height: 200vw;
    background-image: url("../images/gallery/gallery-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%, calc(100vw), cover;
  }

  &__button {
    font-family: "GothamPro";
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    width: 12.3rem;
    font-size: 1.15rem;
    letter-spacing: 1.2px;
  }

  &__button--gallery {
    margin: 0 auto;
    margin-top: 25.5rem;
    margin-left: 2.1rem;
    background-color: rgba(168, 5, 0, 0.1);
    height: 3.6rem;
    line-height: 3.1rem;
  }

  &__button--about {
    position: absolute;
    background-color: rgba(255,245,159,.1);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 10rem;
    border-width: 1px;
    height: 3.5rem;
    line-height: 3.2rem;
  }

  &__button--goto {
    position: absolute;
    background-color: rgba(255,245,159,.1);
    left: 0.7rem;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -4.7rem;
    border-width: 1px;
    height: 3.5rem;
    line-height: 3.2rem;
  }

  &__gallery-additional {
    padding: 13px;
    margin-top: -1px;
    padding-left: 14px;
    padding-right: 12px;
  }

  &__about-main-wrapper {
    width: 100%;
    height: 199vw;
    display: flex;
    flex-direction: column;
  }

  &__goto-main-wrapper {
    width: 100%;
    height: 200vw;
    display: flex;
    flex-direction: column;
  }

  &__about-additional {
    height: 97.5vw;
    position: relative;
    box-shadow: 0 10vw 0 0 white;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: calc(1.2 * 100vw);
      background-image: url("../images/about/about-additional-mobile.jpg");
      background-size: cover;
      background-position: center;
      top: -10%;
      bottom: -10%;
      left: 0;
      right: 0;
    };
  }

  &__goto-additional {
    height: 103vw;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 108vw;
      background-image: url("../images/goto/goto-additional-mobile.jpg");
      background-size: cover;
      background-position: center;
      top: -4%;
      bottom: -1%;
      left: 0;
      right: 0;
    };
  }

  @media (min-width: $desktop-one) {
    background-color: #ffda2d;

    &__promo {
      padding: 0;
      height: calc(580 / 1252 * (100vw - 150px));
      background-image: url("../images/promo/promo-desktop-1400.jpg");
      background-position: 0 0;
      transform: translate(350px,0);
      transition: opacity 1.2s ease,
                transform 1s ease;

      &--animated {
        transform: translate(0,0);
      }
    }

    &__content {
      flex-direction: column;
      display: flex;
      height: 100%;
      width: 15.25rem;
    }

    &__gallery-main-wrapper {
      display: flex;
      height: auto;
      position: relative;
      background-image: url("../images/gallery/gallery-desktop-1400.jpg");
      background-repeat: no-repeat;
      background-size: 50%, auto, cover;

      transform: translate(-350px,0);
      opacity: 0;
      transition: opacity 1.2s ease,
                transform 1s ease;

      &--animated {
        opacity: 1;
        transform: translate(0,0);
      }
    }

    &__gallery_main {
      flex-basis: 50%;
      height: auto;
      background: none;
      background-color: green;
      margin: 0;
      padding: 0;
    }

    &__gallery-additional {
      background: none;
      background-color: white;
      margin: 0;
      padding: 0;
    }

    &__promo-text {
      margin: 0;

      color: #d62b2b;
    }

    &__gallery {
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    &__button {
      width: auto;
      font-size: 0.5rem;
      letter-spacing: 0.055rem;
    }

    &__button--gallery {
      margin: auto;
      background-color: rgba(168, 5, 0, 0.1);
      height: auto;
      line-height: 1.1rem;
      padding-top: 0.25rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    &__about-main-wrapper {
      flex-direction: row;
      height: calc((636/625) * (100vw - 150px) / 2);
    }

    &__about_main {
        flex-basis: 50%;
        margin: 0;
        padding: 0;
      }

    &__about-additional {
      flex-basis: 50%;
      height: calc((636/625) * (100vw - 150px) / 2);
      background-image: url("../images/about/about-additional-desktop-1400.jpg");
      background-size: 110%, 100%, cover;
      background-position: -1rem center;
      margin: 0;
      padding: 0;
      box-shadow: none;

      transform: translate(175px,0);
      opacity: 0;
      transition: opacity 1.2s ease,
                transform 1s ease;

      &--animated {
        opacity: 1;
        transform: translate(0,0);
      }
    }

    &__about-additional:before {
      display: none;
    }

    &__button--about {
      height: auto;

      line-height: 1.3rem;
      letter-spacing: 0.07rem;

      padding-top: 0.1rem;
      padding-left: 0.85rem;
      padding-right: 0.75rem;

      border: 0.05rem solid white;
      margin-left: 1.9rem;
      bottom: 2.2rem;
    }

    &__button--goto {
      height: auto;
      line-height: 1.3rem;
      letter-spacing: 0.06rem;
      padding-top: 0.1rem;
      padding-left: 1.25rem;
      padding-right: 1.05rem;
      border: 0.05rem solid white;
      margin-left: 4.3rem;
      bottom: -1.25rem;
    }

    &__goto-main-wrapper {
      flex-direction: row-reverse;
      height: calc((650/625) * (100vw - 150px) / 2);
    }

    &__goto-additional {
      width: 50%;
      height: auto;

      transform: translate(-175px,0);
      opacity: 0;
      transition: opacity 1.2s ease,
                transform 1s ease;

      &--animated {
        opacity: 1;
        transform: translate(0,0);
      }

      &:before {
        height: calc((650/625) * (100vw - 150px) / 2);
        background-image: url("../images/goto/goto-additional-desktop-1400.jpg");
        background-size: 102%, 100%, cover;
        background-repeat: no-repeat;
        background-position: bottom;
        top: 0;
        bottom: 0;
      };
    }
  }
}

.page-main__gallery-main .page-main__button-wrapper {
  width: 50%;
  display: flex;

  @media (min-width: $desktop-one) {
    position: absolute;
    bottom: 2.05rem;
    left: 0.8rem;
  }
}
