@-webkit-keyframes slideUpIcon {
  from { transform: scale(0); }
  to {  transform: scale(1); }
}
@-moz-keyframes slideUpIcon {
  from { transform: scale(0); }
  to {  transform: scale(1); }
}
@-o-keyframes slideUpIcon {
  from { transform: scale(0); }
  to {  transform: scale(1); }
}
@keyframes slideUpIcon {
  from { transform: scale(0); }
  to {  transform: scale(1); }
}

@-webkit-keyframes showUp {
  from { opacity: 0; }
  to {  opacity: 1; }
}

@-moz-keyframes showUp {
  from { opacity: 0; }
  to {  opacity: 1; }
}
@-o-keyframes showUp {
  from { opacity: 0; }
  to {  opacity: 1; }
}
@keyframes showUp {
  from { opacity: 0; }
  to {  opacity: 1; }
}

$icon-size: 65px;
$desktop-one: 680px;
$desktop-two: 1400px;

.promo-icon {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;

  &__item {
    min-width: 103px;
    text-align: center;
    font-family: "GothamPro";
    font-size: 13px;
    letter-spacing: 0.1px;
    line-height: 14px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__item--camera {
    margin-right: -30px;
    margin-left: -2px;
  }

  &__item--heart {
    margin-left: 3px;
    margin-right: -2px;
  }

  &__item--prize {
    margin-left: -23px;
    margin-right: 4px;
  }

  &__item--camera:before {
    background-image: url("../images/promo/photo.png");
    background-position: 5px 5px;
    background-size: 54px 54px;

    animation-delay: 1.6s;
  }

  &__item--heart:before {
    background-image: url("../images/promo/heart.png");
    background-position: 6px 7px;
    background-size: 53px 53px;

    animation-delay: 2s;
  }

  &__item--prize:before {
    background-image: url("../images/promo/box.png");
    background-position: 7px 5px;
    background-size: 54px 54px;

    animation-delay: 2.4s;
  }

  &__item:before {
    content: '';
    display: block;
    min-width: $icon-size;
    min-height: $icon-size;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 9px;
    transform: scale(0);

    animation-name: slideUpIcon;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.25,.1,.38,1.45);
    animation-fill-mode: forwards;
  }

  &__text {
    animation-name: showUp;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.25,.1,.38,1.45);
    animation-fill-mode: forwards;
  }

  &__text--camera {
    min-width: 105px;
    display: inline-block;

    position: absolute;
    top: 99px;
    left: -3px;
    letter-spacing: -0.1px;
    opacity: 0;

    animation-delay: 1.6s;
  }

  &__hashtag {
    color: #f73934;
    line-height: 15px;
  }

  &__text--heart {
    padding-top: 1px;
    padding-left: 4px;
    opacity: 0;

    animation-delay: 2s;
  }

  &__text--prize {
    padding-left: 2px;
    opacity: 0;

    animation-delay: 2.4s;
  }

  @media (min-width: $desktop-one) {
    $icon-size: 2.7rem;

    width: 12.5rem;
    margin-top: 2.7rem;
    margin-left: 0.33rem;
    margin-bottom: 4.7rem;

    &__item {
      margin: 0;
      padding: 0;
      min-width: 2.5rem;
    }

    &__item:before {
      margin: 0;
      min-width: $icon-size;
      min-height: $icon-size;
      background-repeat: no-repeat;
      background-size: 2.4rem;

      letter-spacing: -0.015rem;
      font-size: 0.41rem;
      position: absolute;

      top: -1.1rem;
    }

    &__item--camera:before {
      background-image: url("../images/promo/photo.png");
      animation-delay: 1.6s;
      background-position: 0.15rem 0.1rem;
      left: -0.6rem;
    }

    &__item--heart:before {
      left: 0.7rem;
      background-image: url("../images/promo/heart.png");
      background-position: 0.15rem 0.18rem;
      animation-delay: 2s;
      left: -0.35rem;
      top: -1.15rem;
    }

    &__item--prize:before {
      background-image: url("../images/promo/box.png");
      animation-delay: 2.4s;
      background-position: 0.22rem 0.1rem;
    }

    &__text {
      position: absolute;
      min-width: 3.5rem;
      letter-spacing: -0.015rem;
      font-size: 0.41rem;

      top: 2rem;
      line-height: 0.52rem;
    }

    &__text--camera {
      left: -1.06rem;
    }

    &__text--heart {
      left: -0.9rem;
    }

    &__text--prize {
      top: 1.9rem;
    }
  }
}
