$desktop-one: 680px;
$desktop-two: 1400px;

.social {
  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  &__item {
    width: 45px;
    height: 42px;
    background-size: 52%;
    opacity: 0.85;
    transition: opacity .3s ease;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item--facebook {
    background-color: #326aa2;
    background-image: url("../images/socials/facebook.jpeg");
  }

  &__item--vkontakte {
    background-color: #3479a8;
    background-image: url("../images/socials/vkontakte.jpeg");
  }

  &__item--mir {
    background-color: #edbf11;
    background-image: url("../images/socials/mir.jpeg");
  }

  &__item--youtube {
    background-color: #c4070e;
    background-image: url("../images/socials/youtube.jpeg");
  }

  @media (min-width: $desktop-one) {
    &__item {
      width: 90px;
      height: 90px;
      background-size: 58%;
    }
  }
}
