$desktop-one: 680px;
$desktop-two: 1400px;

.toggle-button {
  display: flex;
  margin: 0;
  padding: 0;

  &__line {
    position: absolute;
    right: 24px;
    margin: auto;

    min-width: 34px;
    min-height: 5px;

    background: #fc202e;
    opacity: 1;
    transition: all .2s ease-in-out;
  }

  &__wrapper {
    position: relative;
    min-width: 80px;
    min-height: 80px;
  }

  &__line1 {
    top: 28px;
    transform-origin: left center;
  }

  &__line1--close {
    transform: rotate(45deg) scale(0.85);
  }

  &__line2 {
    top: 38px;
  }

  &__line2--close {
    opacity: 0;
    transform: scale(0);
  }

  &__line3 {
    top: 48px;
    transform-origin: left center;
  }

  &__line3--close {
    transform: rotate(-45deg) scale(0.85);
  }

  @media (min-width: $desktop-one) {
    display: none;
  }
}
